@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">

        <ul id="colorList">
        </ul>

    </div>
</div>
<div>
    <div class="col-md-12">
        @*<input type="text" name="name" value="" id="newMarbleColor" placeholder="enter ur color" />*@
        <button onclick="talkToServer();">Color Picker</button>
    </div>
</div>